.video-lessons{
    margin-top: 150px;
    padding-left: 101px;
    .video-lessons__title{
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 56px;
        width: 481px;
    }
    .video-lessons__list{
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        .video-lessons__item {
            width: 320px;
            margin-right: 152px;
            &:hover{
                border-bottom: 5px solid #F1A501;
                transition: 0.3s ease;
                box-sizing: border-box;
            }
            .item-title{
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                .item-num{
                    margin-right: 10px;
                }
            }
            .item-desc{
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #7B7878;
                
            }
        }  
    }
}
.level-link{
    text-decoration: none;
    color: #000;
}